
/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

body{
	box-sizing: border-box;
}

@mixin fonts($ff, $fs, $fz){
	font-family: $ff;
	font-style: $fs;
	font-size: $fz;
}

.header {
	padding-top: 28px;
	padding-bottom: 28px;
	background-color: #445162;
	.wrapper__header {
		justify-content: space-between;
	}
	.header__text {
			color: #fff;
	}
	.header__title {
		@include fonts(Arial Bold,  Normal, 60px);
		padding-bottom: 30px;
	}
	.header__subtitle {
		@include fonts(Arial Bold,  Normal, 20px);
	}
}

.title {
	@include fonts(Arial Bold,  Normal, 30px);
	color: #445161;
}
.subtitle {
	@include fonts(Arial,  Normal, 16px);
	line-height: 20px;
}
.about__text{
	margin-left: 50px;
}

.columns {
	background-color:#f5f5f5;
	padding-top: 50px;
	padding-bottom: 20px;
	.subtitle__title {
	@include fonts(Arial Bold,  Normal, 24px);
	}
	.wrapper__columns {
		display: flex;
		flex-wrap: wrap;
		margin: 0px -8px;		
	}
	.columns__item{
		display: flex;
		flex: 0 1 50%;
		padding: 0px 8px;
		margin: 0px 0px 30px 0px;
	}
	.img {
		flex: 0 0 200px;
	}
	
	.text__column{
		padding: 0px 0px 0px 15px;
		flex: 1 1 auto;
	}
}

.title{
	text-align: center;
	margin-bottom: 30px;
}

.wrapper {
	display: flex; 
}
.container {
	width: 1180px;
	margin: 0 auto;
}
.about {
	padding-bottom: 20px;
	padding-top: 50px;
}


.align {
	color: #fff;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 30px;

	.text{
		display: flex;
		flex-direction: column;
	}

	.align__span{
		display: block;
		background: #fff;
		width: 98%;
		height: 70px;
		@include fonts(Arial,  Normal, 40px);
		color: #445161;
		text-align: center;
		padding-top: 20px;
		border-left-width: 10px;
		border-left-color: #445162;
		margin: auto;
	}
	.align__column{
		display: flex;
		flex-direction: column;
	}
	.text__align{
		text-align: left;
		padding-top: 20px;
		padding-left: 15px;
		line-height: 27px;
		flex: 1 1 auto;
	}
	.wrapper__align {
		justify-content: space-between;
	}
	.align__item {
		flex: 0 1 30%;
		background: #445162;
		border-radius: 10px;
		display: flex;

	}
	.align__title {
		font-size: 24px;
		text-transform: uppercase;
		padding: 10px 0 10px 0;
	}

	.align__button{
		width: 90%;
		padding-top: 15px;
		margin-top: 20px;
		margin-bottom: 20px;
		padding-bottom: 15px;
		border-radius: 10px;
		@include fonts(Arial Bold,  Normal, 18px);
		align-self: center;
		align-items: center;
	}
}

.footer {
	padding-top: 40px;
	padding-bottom: 40px;
	text-align: center;
	@include fonts(Arial,  Normal, 12px);
	background: #f5f5f5;
}
